html, body {
  padding: 0;
  margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%) no-repeat;
}

